<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.mobilemd.tmhimalaya.dao.MemberMapper">

    <select id="findMemberByUid" resultType="cn.mobilemd.tmhimalaya.datamodel.MemberDO">
        SELECT * FROM member WHERE uid=#{uid} limit 0,1;
    </select>

    <select id="findMemberByMemberId" resultType="cn.mobilemd.tmhimalaya.datamodel.MemberDO">
        SELECT * FROM member WHERE employee_id=#{employee_id} limit 0,1
    </select>
</mapper>